@import url(./_sylka/header__lang-link_sylka.css);
.header__lang-link{
  padding:0;
margin: 0;
list-style-type: none;
  padding-right: 46px;
  padding-top: 48px;
  color: white;
  

}
@media (max-width: 1023px) and (min-width: 768px){
.header__lang-link{
 
  padding-right: 24px;
  padding-top: 48px;
  
}
}
@media (max-width: 767px){
.header__lang-link{
 
  padding-right: 16px;
  padding-top: 16px;
  
}
}