@import url(./_sylka/header__lang-link_sylka_da.css);
@import url(./_sylka/header__lang-link_sylka_net.css);

.header__lang-link{
  padding:0;
  margin: 0;
  list-style-type: none;
  padding-right: 28px;
  padding-top: 48px;
  color: white;
}

@media (max-width: 767px){
.header__lang-link{
  padding-right: 18px;
  padding-top: 16px;
 }
}