.header__lang-link{
  position: absolute;
  right: 46px;
  top: 48px;
  color: white;
  margin: 0;
}
@media (max-width: 1023px) and (min-width: 768px){
.header__lang-link{
  position: absolute;
  right: 24px;
  top: 48px;
  color: white;
  margin: 0;
}
}
@media (max-width: 767px){
.header__lang-link{
  position: absolute;
  right: 16px;
  top: 16px;
  color: white;
  margin: 0;
}
}