@import url(./__image/photo-grid__image.css);
.photo-grid{
  background-color: #2A2C2F;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px 16px;
  padding-bottom: 92px;
}

@media (max-width: 1279px) and (min-width: 1024px){
.photo-grid{
   grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 14px;
  padding-bottom: 92px;
  padding-left: 48px;
  padding-right: 48px;
}
}
@media (max-width: 1023px) and (min-width: 768px){
.photo-grid{
  
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 14px;
  padding-bottom: 88px;
  padding-left: 24px;
  padding-right: 24px;
}
}

@media (max-width: 767px){
.photo-grid{
 
  grid-template-columns:  1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-gap: 12px;
  padding-bottom: 64px;
  padding-left: 16px;
  padding-right: 16px;
}
}