.place__image{
  width: 460px;
  grid-row-start: span 3;
align-self: start;
}
@media (max-width: 1279px) and (min-width: 1024px){
.place__image{
  width: 440px;
 }
}
@media (max-width: 1023px) and (min-width: 768px){
.place__image{
  width: 340px;
}
}
@media (max-width: 767px){
.place__image{
  width: 320px;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: 0;
  padding-bottom: 32px;
}
}