.intro__list{
  list-style-type: none;
  color: #FFFFFF;
  max-width: 690px;
  max-height: 209px;
margin: 0;  
margin-top: 32px;
  margin-left:  148px;
  font-size: 12px;
line-height: 18px;

padding: 0;
padding-bottom: 92px;
}
@media (max-width: 1279px) and (min-width: 1024px){
.intro__list{
  list-style-type: none;
  color: #FFFFFF;
  max-width: 690px;
  max-height: 209px;
margin: 0;
  margin-top: 32px;
  margin-left: 48px;
  font-size: 12px;
line-height: 18px;
padding: 0;
padding-bottom: 92px;
}
}
@media (max-width: 1023px) and (min-width: 768px){
.intro__list{
  list-style-type: none;
  color: #FFFFFF;
  max-width: 690px;
  max-height: 209px;
margin: 0;
  margin-top: 32px;
  margin-left: 24px;
  font-size: 12px;
line-height: 18px;
padding: 0;
padding-bottom: 88px;
}
}
@media (max-width: 767px){
.intro__list{
  list-style-type: none;
  color: #FFFFFF;
  max-width: 288px;
  max-height: 90px;
  padding: 0;
margin: 0;
  margin-left: 16px;
  font-size: 12px;
line-height: 18px;
margin-top: 32px;
}
}