.lead__title{
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 280px;
  max-width: 720px;
  max-height: 200px;
  font-weight: normal;
  padding-bottom: 32px;
  padding-top: 48px;
}
@media screen and (max-width: 1279px) and (min-width: 1024px){
.lead__title{

  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 152px;
  max-width: 720px;
  max-height: 200px;
  font-weight: normal;
  padding-bottom: 32px;
  padding-top: 48px;
}
}
@media screen and (max-width: 1023px) and (min-width: 768px){
.lead__title{
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 24px;
  max-width: 720px;
  max-height: 200px;
  font-weight: normal;
  padding-bottom: 32px;
  padding-top: 48px;
}
}
@media screen and  (max-width: 767px){
.lead__title{

 font-size: 40px;
line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 16px;
 width: 288px;
  height: 88px;
  font-weight: normal;
  padding-bottom: 16px;
   margin-top: -78px; 
}
}
