.footer__copyright{
  color: white;
  grid-row-start: 1;
  grid-column-start: 7;
  grid-row-end: 2;
  grid-column-end: 8;
  
}
@media (max-width: 767px){
.footer__copyright{
  color: white;
  grid-row-start: 7;
  grid-column-start: 1;
  grid-row-end: 8;
  grid-column-end: 2;
}
}