@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__listing/intro__listing.css);
.intro{
  width: 100%;
  background-color: #2A2C2F;
}
@media (max-width: 767px){
.intro{
  padding-bottom: 64px;
 
}
}