.cover__title{
  width: 600px;
  font-size: 72px;
  line-height: 76px;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  z-index: 5;
  text-decoration: none;
  font-weight: 900;
  padding:0;
  margin:0;
  
}
@media (max-width: 767px){
.cover__title{
  font-size: 32px;
  line-height: 35px;
  width: 288px;
}
}