@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__links/footer__links.css);
.footer{
  display: flex;
  
  justify-content: space-between;
  background-color: #2A2C2F;
  max-width: 100%;
  padding-bottom: 24px;
  margin: 0 auto;
  padding-left: calc((100% - 1184px)/2);
  padding-right: calc((100% - 1184px)/2);
}
@media (max-width: 1279px) and (min-width: 1024px){
.footer{
  
  max-width: 1024px;
 padding-left: calc((100% - 1024px)/2);
  padding-right: calc((100% - 1024px)/2);
  
}
}
@media (max-width: 1023px) and (min-width: 768px){
.footer{
  padding-right: 0px;
  max-width: 768px;
 padding-left: calc((100% - 768px)/2);
  padding-right: calc((100% - 768px)/2);

}
}
@media (max-width: 767px){
.footer{
  flex-direction: column;
  max-width: 320px;
  padding-left: calc((100% - 320px)/2);
  padding-right: calc((100% - 320px)/2);
   
}
}