.header__lang-links{
margin: 0;
padding: 0;
margin-right: 28px;
display: flex;
justifiy-content: space-between;
list-style-type: none;
}
@media (max-width: 767px){
.header__lang-links{
  margin-right: 18px;

}
}